html, body, h1, ul, li {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
	min-width: 100%;
	background-color: #efefef; /* Old browsers */
}

body {
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	min-height: 100%;
	color: #333;
}

a {
	display: inline-block;
}

h1, ul, li {
	padding: 4px;
}

li {
	display: inline-block;
	list-style: none;
	margin-left: -4px;
	margin-top: -4px;
	position: relative;
}

li:hover {
	background: #fff;
}

ul:hover li a {
	opacity: .2;
}

ul:hover li a:hover {
	opacity: 1;
}

a {
	width: 64px;
	height: 64px;
	background-size: 100% 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background-color: #efefef;
}

a span {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

ul {
	height: 0;
}

html, li {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

li {
	display: inline-block;
	position: relative;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

html, li a:before {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3), transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .3), transparent);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .3), transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .3), transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .3), transparent);
}

li a:before {
	content: '';
	position: absolute;


	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, .3);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, .3);

	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
}


@media only all and (min-width: 720px) {
	h1, ul, li {
		padding: 8px;
	}

	li {
		margin-left: -8px;
		margin-top: -8px;
	}
}

@media only all and (min-width: 1024px) {
	h1, ul, li {
		padding: 12px;
	}

	li {
		margin-left: -12px;
		margin-top: -12px;
	}
}

@media only all and (min-width: 1280px) {
	h1, ul, li {
		padding: 16px;
	}

	li {
		margin-left: -16px;
		margin-top: -16px;
	}
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) and (orientation:portrait) {
	h1, ul, li {
		padding: 24px;
	}

	h1 {
		font-size: 3em;
	}

	li {
		margin-left: -24px;
		margin-top: -24px;
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	h1, ul, li {
		padding: 16px;
	}

	h1 {
		font-size: 3em;
	}

	li {
		margin-left: -16px;
		margin-top: -16px;
	}
}

@media only screen and (max-device-width: 480px) and (orientation:landscape) {
	h1, ul, li {
		padding: 4px 8px 4px;
	}

	ul {
		padding-top: 0;
	}

	h1 {
		font-size: 1em;
		padding: 4px 0 4px;
	}

	li {
		margin-left: -8px;
		margin-top: -4px;
	}
}

@media only all {
	a {width: 64px; height:64px;}
	a.icon-google-plus {background-image: url(../images/48x48/google-plus.png);}
	a.icon-xing {background-image: url(../images/48x48/xing.png);}
	a.icon-twitter {background-image: url(../images/48x48/twitter.png);}
	a.icon-facebook {background-image: url(../images/48x48/facebook.png);}
	a.icon-github {background-image: url(../images/48x48/github.png);}
	a.icon-lastfm {background-image: url(../images/48x48/lastfm.png);}
	a.icon-flickr {background-image: url(../images/48x48/flickr.png);}
	a.icon-youtube {background-image: url(../images/48x48/youtube.png);}
}
@media only all and (min-width: 720px) {
	a {width: 96px; height:96px;}
	a.icon-google-plus {background-image: url(../images/96x96/google-plus.png);}
	a.icon-xing {background-image: url(../images/96x96/xing.png);}
	a.icon-twitter {background-image: url(../images/96x96/twitter.png);}
	a.icon-facebook {background-image: url(../images/96x96/facebook.png);}
	a.icon-github {background-image: url(../images/96x96/github.png);}
	a.icon-lastfm {background-image: url(../images/96x96/lastfm.png);}
	a.icon-flickr {background-image: url(../images/96x96/flickr.png);}
	a.icon-youtube {background-image: url(../images/96x96/youtube.png);}
}
@media only all and (min-width: 1024px) {
	a {width: 128px; height:128px;}
	a.icon-google-plus {background-image: url(../images/128x128/google-plus.png);}
	a.icon-xing {background-image: url(../images/128x128/xing.png);}
	a.icon-twitter {background-image: url(../images/128x128/twitter.png);}
	a.icon-facebook {background-image: url(../images/128x128/facebook.png);}
	a.icon-github {background-image: url(../images/128x128/github.png);}
	a.icon-lastfm {background-image: url(../images/128x128/lastfm.png);}
	a.icon-flickr {background-image: url(../images/128x128/flickr.png);}
	a.icon-youtube {background-image: url(../images/128x128/youtube.png);}
}
@media only all and (min-width: 1280px) {
	a {width: 256px; height:256px;}
	a.icon-google-plus {background-image: url(../images/256x256/google-plus.png);}
	a.icon-xing {background-image: url(../images/256x256/xing.png);}
	a.icon-twitter {background-image: url(../images/256x256/twitter.png);}
	a.icon-facebook {background-image: url(../images/256x256/facebook.png);}
	a.icon-github {background-image: url(../images/256x256/github.png);}
	a.icon-lastfm {background-image: url(../images/256x256/lastfm.png);}
	a.icon-flickr {background-image: url(../images/256x256/flickr.png);}
	a.icon-youtube {background-image: url(../images/256x256/youtube.png);}
}
@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
	a {width: 224px; height:224px;}
	a.icon-google-plus {background-image: url(../images/256x256/google-plus.png);}
	a.icon-xing {background-image: url(../images/256x256/xing.png);}
	a.icon-twitter {background-image: url(../images/256x256/twitter.png);}
	a.icon-facebook {background-image: url(../images/256x256/facebook.png);}
	a.icon-github {background-image: url(../images/256x256/github.png);}
	a.icon-lastfm {background-image: url(../images/256x256/lastfm.png);}
	a.icon-flickr {background-image: url(../images/256x256/flickr.png);}
	a.icon-youtube {background-image: url(../images/256x256/youtube.png);}
}
@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) and (orientation:portrait) {
	a {width: 192px; height:192px;}
	a.icon-google-plus {background-image: url(../images/256x256/google-plus.png);}
	a.icon-xing {background-image: url(../images/256x256/xing.png);}
	a.icon-twitter {background-image: url(../images/256x256/twitter.png);}
	a.icon-facebook {background-image: url(../images/256x256/facebook.png);}
	a.icon-github {background-image: url(../images/256x256/github.png);}
	a.icon-lastfm {background-image: url(../images/256x256/lastfm.png);}
	a.icon-flickr {background-image: url(../images/256x256/flickr.png);}
	a.icon-youtube {background-image: url(../images/256x256/youtube.png);}
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	a {width: 84px; height:84px;}
	a.icon-google-plus {background-image: url(../images/128x128/google-plus.png);}
	a.icon-xing {background-image: url(../images/128x128/xing.png);}
	a.icon-twitter {background-image: url(../images/128x128/twitter.png);}
	a.icon-facebook {background-image: url(../images/128x128/facebook.png);}
	a.icon-github {background-image: url(../images/128x128/github.png);}
	a.icon-lastfm {background-image: url(../images/128x128/lastfm.png);}
	a.icon-flickr {background-image: url(../images/128x128/flickr.png);}
	a.icon-youtube {background-image: url(../images/128x128/youtube.png);}
}
@media only screen and (max-device-width: 480px) and (orientation:portrait) {
	a {width: 96px; height:96px;}
	a.icon-google-plus {background-image: url(../images/96x96/google-plus.png);}
	a.icon-xing {background-image: url(../images/96x96/xing.png);}
	a.icon-twitter {background-image: url(../images/96x96/twitter.png);}
	a.icon-facebook {background-image: url(../images/96x96/facebook.png);}
	a.icon-github {background-image: url(../images/96x96/github.png);}
	a.icon-lastfm {background-image: url(../images/96x96/lastfm.png);}
	a.icon-flickr {background-image: url(../images/96x96/flickr.png);}
	a.icon-youtube {background-image: url(../images/96x96/youtube.png);}
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	a {width: 96px; height:96px;}
	a.icon-google-plus {background-image: url(../images/256x256/google-plus.png);}
	a.icon-xing {background-image: url(../images/256x256/xing.png);}
	a.icon-twitter {background-image: url(../images/256x256/twitter.png);}
	a.icon-facebook {background-image: url(../images/256x256/facebook.png);}
	a.icon-github {background-image: url(../images/256x256/github.png);}
	a.icon-lastfm {background-image: url(../images/256x256/lastfm.png);}
	a.icon-flickr {background-image: url(../images/256x256/flickr.png);}
	a.icon-youtube {background-image: url(../images/256x256/youtube.png);}
}

